# Ignore version control directories
.git/
.gitignore

# Ignore IntelliJ IDEA project files
.idea/
*.iml

# Ignore Eclipse project files
.project
.classpath
.settings/

# Ignore temporary files and logs
*.log
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db
